<html>
<head>
	<title>Exercise Page</title>	

	<link href="/css/bootstrap.css" rel="stylesheet">
	<link href="/css/bootstrap-theme.min.css" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="/css/navbarCSS.css">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
	<meta charset="utf-8">

	<link rel="stylesheet" type="text/css" href="/css/exerciseProgressCSS.css">
	<link rel="stylesheet" type="text/css" href="/css/tabsCSS.css">
	<link rel="stylesheet" type="text/css" href="/css/progressTable.css">

	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<script src="https://code.jquery.com/jquery.js"></script>
	<script type="text/javascript" src="/js/index.js"></script>
	<script type="text/javascript" src="/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="/js/bootstrap.js"></script>

	<script type="text/javascript" src="/js/userDataStorage.js"></script>
	<script src="/js/localStorage.js"></script>
	<script src="/js/tabs.js"></script>
	<script src="/js/addRow.js"></script>
	<script type="text/javascript" src="/js/exerciseProgress.js"></script>

	<script>
	(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

	ga('create', 'UA-135624501-1', 'auto');
	ga('send', 'pageview');
	</script>


	

</head>

<div class="containerExerciseProgress" >

	<div class="exerciseProgressContent">
		<div class="topNavbar_A">
			<div class="exerciseProgressTabs">
				<button class="tablinks" onclick="changeTab(event, 'infoTab'); infoTabClick_A();">{{name}}</button>
				<button class="tablinks" id="defaultOpen" onclick="changeTab(event, 'exerciseTab'); initializeExerciseTab(); recordTab_A();">Record</button>
				<button class="tablinks" onclick="changeTab(event, 'progressTab'); populateProgressPage('{{name}}'); progressTab_A();">Progress</button>
			</div>
		</div>

		<div id="infoTab" class="tabcontent">
			<div class="howToContainer">
				<div class="howToTitle">
					<h1>How To:</h1>
				</div>
				<div class="videoContainer">
					<iframe src="{{videoURL}}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" scrolling="no" allowfullscreen></iframe>
				</div>
				<div class="ExerciseInfo">
					<h2>Exercise Instructions: </h2>
					<p>{{text}}</p>
					<h2>Rep Range: </h2>
					<p>{{numReps}}</p>
				</div>
			</div>

		</div>

		<div id="exerciseTab" class="tabcontent">
			<div class="statsContainer">
				<table class="setsTable">
					<tr class="setsTableTitle">
						<th id="emptyTh" class="titleRowTd"></th>
						<th id="weightHeader" class="titleTh">Weights</th> 
						<th class="titleTh">Reps</th>
					</tr>

				</table>
				<table id="myTable" class="setsTable">

				</table>
				<div class="buttonContainer">
					<button class="button" id="deleteSetButton_A" onclick="deleteSet()">Delete Set</button>
					<button class="button" id="addSetButton_A" onclick="addSet()">+</button>
					<button class="button" id="submitButton_A" onclick="storeExerciseData('{{name}}')">Submit</button>
				</div>

			</div>
		</div>


		<div id="progressTab" class="tabcontent" onload="initializePage()">
			
			<div id ="thisOne" class="statsContainer" onload="populateProgressPage('{{name}}')">
			</div>
			<div class="graph">
			</div>
			<div class="buttonContainer">
				
			</div>
		</div>
		<div class="navbarOffset"></div>
	</div>

	
	{{> navbar}}
</div>

</html>