<!doctype html>
<head>
	<title>Home Page</title>
	
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<script src="https://code.jquery.com/jquery.js"></script>
	<script type="text/javascript" src="/js/userDataStorage.js"></script>
	<script type="text/javascript" src="/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="/js/bootstrap.js"></script>
	<script type="text/javascript" src="/js/index.js"></script>
	

	<link href="/css/bootstrap.css" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="/css/bootstrap-theme.css">
	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/bootstrap-theme.min.css" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="/css/navbarCSS.css">
	<link rel="stylesheet" type="text/css" href="/css/indexCSS.css">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
</head>
<body>
	<hr>

	<!-- TODO: Create Search Bar (What will this do? Would it be easier to just have a box of most well-known workouts and thats it?) -->
	<div class="container searchbar">
		<div class="searchbar-content">
			<input type="text" name="search" class="" placeholder="Search for a workout..." id="searchbar">
			<button type="submit" id="searchbar-submit"><i class="fa fa-search"></i></button>
		</div>
	</div>

	<div class="container searchfilter">
		<div class="dropdown">
  			<button type="button" class="btn btn-secondary dropdown-toggle" id="dropdownFilter" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
  				Filter Workouts
  				<span class="caret"></span>
  			</button>
  			<ul class="dropdown-menu" aria-labelledby="dropdownFilter" onload="addCustomWorkouts()">
    			<li class="filter"><button class="btn dropdown-item" type="button" onclick="alphabetizeAtoZ()">Alphabetical (A-Z)</button></li> 
    			<li class="filter"><button class="btn dropdown-item" type="button" onclick="alphabetizeZtoA()">Alphabetical (Z-A)</button></li> 
    			<div id="addCustomWorkoutsHere"></div>
    			<li class="filter"><button class="btn dropdown-item" type="button" onclick="createFilter()">Create Filter</button></li> 
  			</ul>
		</div> 
	</div>

	<!-- Exercises user can click on -->
	<div class="container" id="exercises">
		<div class="row" id="exerciseList">
			{{#each exercises}}
			<div class='exercise col-lg-4' id="{{id}}">
				<a href="/exerciseProgress/{{name}}" class="thumbnail">
					<!-- <img src="images/{{image}}" alt="Lorem pixel image" class="img rounded"> -->
					<h3 class="display-4" id="name">{{name}}</h3>
				</a>
			</div>
			{{/each}}
		</div>
		<div class="customFilterConatiner" id="FilterName">
			<h3 class="filterTitle"> Filter Title: </h3>
			<input type="text" name="custom" class="customFilterInput" placeholder="Custom Filter" id="customFilterName">
		</div>
		<div class="row" id="customForm">			
			<button class="submitCustomFilterBtn" onclick="submitCustomFilter()">Submit!</button>
			{{#each exercises}}
			<div class='customFormDiv' id="{{id}}">
				<button class="thumbnaimCustom" id='{{name}}' onclick="toggleExercise('custom','{{name}}')">
					<!-- <img src="images/{{image}}" alt="Lorem pixel image" class="img rounded"> -->
					<h3 class="display-4" id="name">{{name}}</h3>
				</button>
			</div>
			{{/each}}
		</div>
	</div>

	<!-- Floor Navbar -->
	{{> navbar}}
	<!-- <div class="container">
		<div class="row navbar">
			<a href="/help/"><i class="fas fa-question fa-4x"></i></a>
			<a href="/friends/"><i class="fas fa-user-friends fa-4x"></i></a>
			<a href="/settings/"><i class="fas fa-cog fa-4x"></i></a>
		</div>
	</div> -->
		

</body>
</html>
